* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.logo-mario {
    height: 200px;

}

.img-mario-luigi {
    height: 500px;

}

button {
    color: #ffffff;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

button:hover {

    color: black;
    font-size: 15px;
    transition: 0.5s color ease-in-out;
}


p {
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 15px;
}

body {
    height: 100vh;
}

.caixa-mae {
    display: flex;
    align-items: center;
    padding: 100px;
    justify-content: space-around;

}

.caixa-principal {
    width: 40%;
}

.caixa-video {
    position: fixed;
    z-index: -1;
    top: 0;

}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;


}

.mascara {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

.link-wpp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;

}

.header img {
    height: 60px;

}


.header a {
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}

.header a:hover {

    color: #c51111;
    font-size: 26px;
    transition: 0.5s color ease-in-out;
}

.formulario {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    top: 20%;
    left: -300px;
    transition: left 1s ease-in-out;

}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #c51111;
}

textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #c51111;
}



.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 1s ease-in-out;

}




@media (max-width: 1100px) {
    p {
        display: none;
    }

    .caixa-mae {
        flex-direction: column;
        padding: 10px;
    }

    .caixa-principal {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .img-mario-luigi {
        width: 80vw;
        height: auto;
    }

    .header img {
        display: none;
    }

    .header{
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header a {
        font-size: 20px;
    }
}